[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gpiozero = "*"
smbus = "*"
geopy = "*"
gpxpy = "*"
pandas = "*"
numpy = "*"
haversine = "*"
matplotlib = "*"
pipfile = "*"
pyserial = "*"
py-staticmaps = "*"

[requires]
python_version = "3.8"
